.container{
    display: flex;
}

.homeleft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex:3;
}

.schooltitle{
    font-size: 3rem;
    color: white;
    font-weight: 700;
}
.schooldesc{
    color: white;
    width: 80%;
    text-align: justify;
}

.homeright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}


.homeright>img{
    width: 400px;
}